DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=86400000

MAIL_USERNAME=
MAIL_PASSWORD=

GOOGLE_CLIENT_ID=

AI_ORCHESTRATOR_URL=http://localhost:8000
AI_API_KEY=
AI_TIMEOUT=65000

LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_HOST=

PAYTECH_API_KEY=
PAYTECH_API_SECRET=
PAYTECH_ENV=test
PAYTECH_BASE_URL=https://paytech.sn/api

PREMIUM_PRICE=90000
PREMIUM_DURATION_DAYS=365